### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Data ingestion

In [2]:
column=['age','workclass','fnlwgt','education', 'education_num','marital_status', 'occupation','relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week','native_country', 'Income']
df1 = pd.read_csv("adult1.csv",names= column)
df1.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df2=pd.read_csv('adult.test',header=1,names=column)
df2.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,Income
0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
3,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.

In [4]:
df =pd.concat([df1,df2],axis=0)

In [5]:
df.shape

(48841, 15)

In [6]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
df.reset_index(drop=True,inplace =True)

In [8]:
df.tail()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,Income
48836,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48837,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48838,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48839,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48840,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

###### copy of dataset

In [9]:
dff= df.copy(deep=True)

## EDA

In [10]:
dff.shape

(48841, 15)

In [11]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48841 entries, 0 to 48840
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48841 non-null  int64
 1   workclass       48841 non-null  object
 2   fnlwgt          48841 non-null  int64
 3   education       48841 non-null  object
 4   education_num   48841 non-null  int64
 5   marital_status  48841 non-null  object
 6   occupation      48841 non-null  object
 7   relationship    48841 non-null  object
 8   race            48841 non-null  object
 9   sex             48841 non-null  object
 10  capital_gain    48841 non-null  int64
 11  capital_loss    48841 non-null  int64
 12  hours_per_week  48841 non-null  int64
 13  native_country  48841 non-null  object
 14  Income          48841 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [12]:
dff.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,48841.000000,4.884100e+04,48841.000000,48841.000000,48841.000000,48841.000000
mean,38.643865,1.896634e+05,10.078152,1079.089720,87.504105,40.422391
std,13.710511,1.056050e+05,2.570961,7452.093748,403.008483,12.391571
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175490e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781420e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376460e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

### define numerical  and categorical columns

In [13]:
numerical_features =[fea for fea in dff.columns if dff[fea].dtype != 'O']
categorical_features = [fea for fea in dff.columns if dff[fea].dtype=='O']

###### Handling duplicate data values

In [14]:
dff.duplicated().sum()

29

In [15]:
dff= dff.drop_duplicates()

###### removing spaces from categorical features' values

In [16]:
for feature in categorical_features:
    dff[feature] = dff[feature].str.strip()

###### Handling special chracters from the categorica features

In [17]:
dff.replace('?',np.nan, inplace =True)

In [18]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48812 entries, 0 to 48840
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48812 non-null  int64
 1   workclass       46013 non-null  object
 2   fnlwgt          48812 non-null  int64
 3   education       48812 non-null  object
 4   education_num   48812 non-null  int64
 5   marital_status  48812 non-null  object
 6   occupation      46003 non-null  object
 7   relationship    48812 non-null  object
 8   race            48812 non-null  object
 9   sex             48812 non-null  object
 10  capital_gain    48812 non-null  int64
 11  capital_loss    48812 non-null  int64
 12  hours_per_week  48812 non-null  int64
 13  native_country  47956 non-null  object
 14  Income          48812 non-null  object
dtypes: int64(6), object(9)
memory usage: 6.0+ MB

###### Handling null values

In [19]:
dff['workclass'].mode()

0    Private
Name: workclass, dtype: object

In [20]:
dff['workclass'].fillna(dff['workclass'].mode()[0],inplace = True)
dff['occupation'].fillna(dff['occupation'].mode()[0],inplace = True)
dff['native_country'].fillna(dff['native_country'].mode()[0],inplace = True)

In [21]:
dff.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
Income            0
dtype: int64

In [22]:
categorical_features

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country',
 'Income']

In [23]:
for i in categorical_features:
  print(dff[i].unique())

['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' 'Protective-serv'
 'Armed-Forces' 'Priv-house-serv']
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
['Male' 'Female']
['United-States' 'Cuba' 'Jamaica' 'India' 'Mexico' 'South' 'Puerto-Rico'
 'Honduras' 'England' 'Canada' 'Germany' 'Iran' 'Philippines' 'Italy'
 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador' 'Laos' 'Taiwan'
 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador' 'France'
 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
['<=50K' '>50K' '<=50K.' '>50K.']

In [24]:
dff['Income']= dff['Income'].str.replace('.','')

In [25]:
dff['Income'].unique()

array(['<=50K', '>50K'], dtype=object)

###### Encoding the categorical feature values

In [26]:
from sklearn.preprocessing import LabelEncoder
for column in dff.columns:
    if dff[column].dtypes=='object':
        encoder = LabelEncoder()
        dff[column] = encoder.fit_transform(dff[column])

###### Segregating independent and dependent features

In [27]:
X = dff.drop(['Income'],axis=1)
y = dff['Income']

###### train - test split

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

## Model Building

### Bagging classifier

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingClassifier

In [32]:
model_bagging_log = BaggingClassifier(base_estimator=LogisticRegression(),n_estimators=50, bootstrap= True,oob_score=True,random_state=0,n_jobs=-1).fit(X_train, y_train)   ## base estimator if selected None, then the base estimator is a DecisionTreeClassifier.

In [33]:
y_predict_bagging= model_bagging_log.predict(X_test)

In [34]:
model_bagging_log.score(X_train,y_train)

0.7946031374385389

In [36]:
model_bagging_log.oob_score_

0.7950421446967924

###### performance matrices

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict_bagging)

0.7998497678229992

In [38]:
from sklearn.metrics import classification_report
print(classification_report(y_predict_bagging,y_test))

              precision    recall  f1-score   support

           0       0.96      0.81      0.88     13200
           1       0.29      0.70      0.41      1444

    accuracy                           0.80     14644
   macro avg       0.62      0.75      0.64     14644
weighted avg       0.89      0.80      0.83     14644

### ExtraTreesClassifier

In [40]:
from sklearn.ensemble import ExtraTreesClassifier

In [66]:
model_extra= ExtraTreesClassifier(n_estimators=100,bootstrap=True,oob_score=True, random_state=None)   ### random_state controls the random resampling of the original dataset (sample wise,feature wise), even splitting, so for thi sto happen its better to keep it as 'None', otherwise if we set a int value like 0 or 42 then same reproducible output, we will get acroos multiple function calls, basically reduces the randomisation.
model_extra.fit(X_train, y_train)

ExtraTreesClassifier(bootstrap=True, oob_score=True)

In [67]:
y_predict_extra= model_extra.predict(X_test)

In [68]:
model_extra.score(X_train,y_train)

0.9999414656988995

In [69]:
model_extra.oob_score_

0.8479278857410443

In [70]:
accuracy_score(y_test,y_predict_extra)

0.8499043977055449

In [71]:
##there is overfitting

###### Hyperparameter tuning

In [72]:
grid_param = {
    "n_estimators" : [100,115],
    'criterion': ['gini', 'entropy'],
    'max_depth' : [2,4],
    'min_samples_leaf' : [1,2,3,4],
    'min_samples_split': [2,3,4],
    'max_features' : ['sqrt']
}

In [73]:
from sklearn.model_selection import GridSearchCV
grid_searh=GridSearchCV(estimator=model_extra,param_grid=grid_param,cv=3,verbose=2,n_jobs=-1)

In [76]:
grid_fit = grid_searh.fit(X_train,y_train)

Fitting 3 folds for each of 96 candidates, totalling 288 fits

In [77]:
model_extra_with_best_params= grid_fit.best_estimator_

In [78]:
model_extra_with_best_params

ExtraTreesClassifier(bootstrap=True, criterion='entropy', max_depth=4,
                     max_features='sqrt', min_samples_leaf=2, oob_score=True)

In [79]:
model_extra_with_best_params.fit(X_train,y_train)

ExtraTreesClassifier(bootstrap=True, criterion='entropy', max_depth=4,
                     max_features='sqrt', min_samples_leaf=2, oob_score=True)

In [80]:
y_predict_extra_bp=model_extra_with_best_params.predict(X_test)

In [81]:
model_extra_with_best_params.score(X_train,y_train)

0.7743210021072349

In [82]:
model_extra_with_best_params.oob_score_

0.7753160852259424

In [83]:
accuracy_score(y_test,y_predict_extra_bp)

0.7743102977328599

### Random forest classifier

In [88]:
from sklearn.ensemble import RandomForestClassifier

In [94]:
Rf_model = RandomForestClassifier(n_estimators=100,bootstrap=True,oob_score=True, random_state=None)

In [95]:
Rf_model.fit(X_train, y_train)

RandomForestClassifier(oob_score=True)

In [96]:
y_pred_rf=Rf_model.predict(X_test)

In [97]:
Rf_model.score(X_train,y_train)

0.9999414656988995

In [98]:
Rf_model.oob_score_

0.853020369936783

In [100]:
accuracy_score(y_test,y_pred_rf)

0.8589866156787763

###### Hyperparameter tuning

In [101]:
grid_param = {
    "n_estimators" : [100,115],
    'criterion': ['gini', 'entropy'],
    'max_depth' : [2,4],
    'min_samples_leaf' : [1,2,3,4],
    'min_samples_split': [2,3,4],
    'max_features' : ['sqrt']
}

In [102]:
from sklearn.model_selection import GridSearchCV
grid_searh=GridSearchCV(estimator=Rf_model,param_grid=grid_param,cv=3,verbose=2,n_jobs=-1)

In [103]:
grid_fit = grid_searh.fit(X_train,y_train)

Fitting 3 folds for each of 96 candidates, totalling 288 fits

In [104]:
Rf_model_with_best_params= grid_fit.best_estimator_

In [105]:
Rf_model_with_best_params

RandomForestClassifier(max_depth=4, max_features='sqrt', min_samples_split=4,
                       oob_score=True)

In [106]:
Rf_model_with_best_params.fit(X_train,y_train)

RandomForestClassifier(max_depth=4, max_features='sqrt', min_samples_split=4,
                       oob_score=True)

In [107]:
y_predict_Rf_bp=Rf_model_with_best_params.predict(X_test)

In [108]:
Rf_model_with_best_params.score(X_train,y_train)

0.8473132755794895

In [109]:
Rf_model_with_best_params.oob_score_

0.8443572933739171

In [110]:
accuracy_score(y_test,y_predict_Rf_bp)

0.8497678229991805

### Voting classifier

In [29]:
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [30]:
## the three classifiers attributed to objects

clf1 = LogisticRegression()
clf2 = DecisionTreeClassifier()
clf3 = GaussianNB()

In [31]:
## creating a voting classifier object

clf= VotingClassifier(estimators=[('lr',clf1),('dt',clf2),('gnb',clf3)],voting = 'hard')     ## its two basic hyperparameters- estimators and voting,,,,,estimators hyperparameter creates a list for the objects of the three classifiers above while assigning names to them, the voting hy;perparameter is set to either hard or soft
                                                                                             ## if set to hard, the votingg classifier will make judgements based on the predictions that appear the most. otherwise, if set to soft, it will use a weighted approach to make its decision, recommend to use soft when using an even number of classifiers because of its weighted approach and set to hard when using odd number of classifiers becuase of its "majority carry the vote" approach.

In [32]:
clf.fit(X_train,y_train)

VotingClassifier(estimators=[('lr', LogisticRegression()),
                             ('dt', DecisionTreeClassifier()),
                             ('gnb', GaussianNB())])

In [33]:
y_pred_vote= clf.predict(X_test)

In [34]:
clf.score(X_train,y_train)

0.8212655115897917

In [35]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_vote)

0.8129609396339798